/* ROW */

.bk-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  box-sizing: border-box;
}

.bk-row.justify-start {
  justify-content: flex-start;
}

.bk-row.justify-center {
  justify-content: center;
}

.bk-row.justify-end {
  justify-content: flex-end;
}

.bk-row.justify-space-between {
  justify-content: space-between;
}

.bk-row.justify-space-around {
  justify-content: space-around;
}

.bk-row.justify-space-evenly {
  justify-content: space-evenly;
}

.bk-row.align-top {
  align-items: flex-start;
}

.bk-row.align-middle {
  align-items: center;
}

.bk-row.align-bottom {
  align-items: flex-end;
}

.bk-row.wrap-false {
  flex-wrap: nowrap;
}
