button.bk-btn {
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  margin: 0px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: rgba(0, 0, 0, 0.88);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    helvetica neue,
    Arial,
    noto sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    segoe ui symbol,
    noto color emoji;
  font-size: 14px;
  box-sizing: border-box;
}

.bk-btn.default-type {
  background-color: #fff;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.bk-btn.default-type span {
  display: inline-block;
}

.bk-btn.default-type:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.bk-btn.default-type:active {
  color: #0958d9;
  border-color: #0958d9;
}

.bk-btn.default-type:hover {
  color: #4096ff;
  border-color: #4096ff;
}

.bk-btn.primary-type {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.bk-btn.primary-type:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.bk-btn.primary-type:active {
  color: #fff;
  background-color: #0958d9;
}

.bk-btn.primary-type:hover {
  color: #fff;
  background-color: #4096ff;
}

.bk-btn.primary-type span {
  display: inline-block;
}

.bk-btn.dashed-type {
  background-color: #fff;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border-style: dashed;
}

.bk-btn.dashed-type:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.bk-btn.dashed-type:active {
  color: #0958d9;
  border-color: #0958d9;
}

.bk-btn.dashed-type:hover {
  color: #4096ff;
  border-color: #4096ff;
}

.bk-btn.dashed-type span {
  display: inline-block;
}

.bk-btn.circle-shape {
  min-width: 32px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-radius: 50%;
}

.bk-btn.circle-shape.large-size {
  min-width: 40px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-radius: 50%;
}

.bk-btn.large-size {
  font-size: 16px;
  height: 40px;
  padding: 6.428571428571429px 15px;
  border-radius: 8px;
}

.bk-btn.circle-shape.small-size {
  min-width: 24px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-radius: 50%;
}

.bk-btn.small-size {
  font-size: 14px;
  height: 24px;
  padding: 0 7px;
  border-radius: 4px;
}

.bk-btn-loading {
  opacity: 0.65;
  cursor: default;
}

.bk-btn-block {
  width: 100%;
}

/* ICON */

.bk-icon {
  line-height: 0;
}

.bkicon-icon-only > .bk-icon {
  margin-inline-end: 8px;
}

:not(.circle-shape) > .bk-icon {
  margin-inline-end: 8px;
}

.large-size .bkicon {
  font-size: 18px;
}

.small-size .bkicon {
  font-size: 14px;
}

.bkicon {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bkicon svg {
  display: inline-block;
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bkicon-spin {
  animation: loadingCircle 1s infinite linear;
}

/* ROW */

.bk-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  box-sizing: border-box;
}

.bk-row.justify-start {
  justify-content: flex-start;
}

.bk-row.justify-center {
  justify-content: center;
}

.bk-row.justify-end {
  justify-content: flex-end;
}

.bk-row.justify-space-between {
  justify-content: space-between;
}

.bk-row.justify-space-around {
  justify-content: space-around;
}

.bk-row.justify-space-evenly {
  justify-content: space-evenly;
}

.bk-row.align-top {
  align-items: flex-start;
}

.bk-row.align-middle {
  align-items: center;
}

.bk-row.align-bottom {
  align-items: flex-end;
}

.bk-row.wrap-false {
  flex-wrap: nowrap;
}
